snippet scimp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
endsnippet 


snippet def
def ${1:FunctionName}(${2:args}):
	${3:FunctionContents}
endsnippet

snippet pr
print(${1:WhatToPrint?})
endsnippet

snippet fir
for ${1:i} in range(${2:a}):
	${3:# What to do}
endsnippet

